<% content_for(:title) { 'ディスプレイ画像' } %>
<% content_for(:back_link) { link_to '←メニューへ戻る', root_path } %>

<h1>ディスプレイ画像一覧</h1>

<div class="filter card p-3">
  <%= render partial: "filter" %>
</div>
<div class="p-2">
  <%= link_to "新規作成", new_display_path, class: "btn btn-primary" %>
</div>
<div id="display-list" class="list p-2">
  <%= render partial: "list", locals: { displays: @displays } %>
</div>