<% content_for(:title) { 'マスタ管理 - ディスプレイ種別作成' } %>
<% content_for(:back_link) { link_to '←一覧へ戻る', master_display_index_path } %>

<h1>ディスプレイ種別作成</h1>

<div id="editform" class="p-2">
  <%= render partial: "form", locals: { display: @display, url: master_display_index_path } %>
</div>