<% content_for(:title) { 'ユーザー一覧' } %>
<% content_for(:back_link) { link_to '←トップページへ戻る', root_path } %>

<h1>ユーザー一覧</h1>

<div class="filter card p-3">
  <%= render partial: "filter" %>
</div>
<div class="p-2">
  <%= link_to "新規作成", new_user_path, class: "btn btn-primary" %>
</div>
<div class="list p-2">
  <%= render partial: "list", locals: { users: @users } %>
</div>