<% content_for(:title) { 'ユーザー編集' } %>
<% content_for(:back_link) { link_to '←一覧へ戻る', users_path } %>

<h1>ユーザー編集</h1>

<div id="editform" class="p-2">
  <%= render partial: "form", locals: { user: @user, url: user_path(@user.id) } %>
</div>