<%# 現状複数枚は非対応 %>
<%= turbo_stream.update "modal" do %>
  <div id="modal-container" class="modal" tabindex="-1" data-controller="modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= @modal_title %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= render partial: @content %>
      </div>
    </div>
  </div>
<% end %>